###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
output2
output3
output4
output5
source2
source3
source4
source5
output-success-1
test-old-holder
index.js--inprog
snippets
